<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">GR</a>
        <a class="nav-item nav-link" href="#parallax-image-menu">Menú</a>
        <a class="nav-item nav-link titulo3" href="#parallax-image-galeria">Galería</a>
        <a class="nav-item nav-link titulo3" href="#parallax-image-contacto">Contáctanos</a>
        <a class="nav-item nav-link titulo3" href="#parallax-image-desarrolladores">Desarrolladores</a>
        <!-- ver como se puede tirar a la derecha -->
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Usuarios</a>
        <a class="nav-item nav-link" (click)="logout()">Salir</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <p>
        <a alt="Presiona para ver el ejemplo del login" href="https://jasonwatmore.com/post/2020/07/18/angular-10-user-registration-and-login-example-tutorial" target="_top">Lenguajes interpretado en el cliente - Desarrollado por estudiantes</a>
    </p>
    <p>
        <a href="http://www.udb.edu.sv/udb/" target="_top">Universidad Don Bosco - 2020</a>
    </p>
</div>